{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Shop | CATALOG{% endblock %}

{% block content %}
    <h1 class="text-dark text-center fw-bold mb-4">Каталог</h1>
    <div class="d-flex gap-3 flex-wrap justify-content-center mx-auto"
         style="max-width: 800px;">
        {% for product in products %}
            <div class="card border-0 rounded-4"
                 style="width: 250px; box-shadow: 0 0 5px #00000022;">
                <img src="{{ product.image.url }}"
                     class="card-img-top rounded-4 mt-3" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column">
                <span class="card-text d-flex mt-auto">
                    <span class="fs-2 fw-bold">{{ product.price }} ₽</span>
                    <!-- Можно добавить условие для отображения скидки -->
                    {% if product.discount %}
                        <span class="text-danger fs-6">-{{ product.discount }}%</span>
                    {% endif %}
                </span>
                    <h3 class="card-title fs-6">{{ product.name }}</h3>
                    <div class="d-flex gap-1 mb-3">
                        <!-- Используйте рейтинг товара для отображения звезд.
                             Делаем цикл в кавычках пишем ЛЮБУЮ строку из 5 символов.
                             Таким образом мы просто делаем цикл из 5 итераций
                             т.к. максимальный рейтинг - 5, соответственно звезд
                             будет тоже не больше 5. -->
                        <!-- Если номер итерации меньше чем число рейтинга в
                             данном объекте продукта, добавляем картинку звездочки,
                             иначе добавляем такую же картинку, но делаем её серой. -->

                        {% for star in "Пять." %}
                            {% if forloop.counter <= product.rating %}
                                <img width="20" height="20"
                                     src="{% static 'shop/img/rating_star.png' %}"
                                     alt="star">
                            {% else %}
                                <img width="20" height="20"
                                     src="{% static 'shop/img/rating_star.png' %}"
                                     style="filter: grayscale(1);"
                                     alt="star">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Условие для отображения кнопки -->
                    {% if product.is_available %}
                        <button class="btn btn-outline-secondary text-dark">В корзину</button>
                    {% else %}
                        <button class="btn btn-outline-secondary text-dark" disabled>Нет в наличии</button>
                    {% endif %}
                    <small class="text-black-50 mt-2">
                        <!-- Описание товара -->
                        {{ product.desc }}<br>
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}