{% load static %}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-center" style="max-width: 800px">
            <img src="https://github.com/Artasov/resources/blob/main/ava-dark.jpg?raw=true"
                 alt="Logo" width="40" height="40" class="d-inline-block rounded-circle">
            <a class="ms-2 navbar-brand fw-bold" href="#">Artasov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
                    <li class="nav-item">
                        <a class="nav-link py-0"
                           href="{% url 'catalog' %}">
                            Catalog
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="py-0"
                               href="{% url 'profile' %}">
                                <img width="25" height="25"
                                     style="filter: invert(0.75)"
                                     src="{% static 'Core/img/user.png' %}" alt="profile">
                            </a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="py-0"
                               href="{% url 'logout' %}">
                                <img width="25" height="25"
                                     style="filter: invert(0.75)"
                                     src="{% static 'Core/img/logout.png' %}" alt="logout">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item my-auto">
                            <a class="btn btn-secondary py-0"
                               href="{% url 'signin' %}">
                                Sign In
                            </a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="btn btn-secondary py-0"
                               href="{% url 'signup' %}">
                                Sing Up
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <img width="25" height="25"
                             id="btn-change-theme"
                             src="{% static 'Core/img/moon.png' %}" alt="theme">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>