{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Core/css/bootstrap.min.css' %}">
    <script src="{% static 'Core/js/bootstrap.bundle.min.js' %}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <title>Посты</title>
</head>
<body data-bs-theme="dark">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid justify-content-center" style="max-width: 800px">
            <img src="https://github.com/Artasov/resources/blob/main/ava-dark.jpg?raw=true"
                 alt="Logo" width="40" height="40" class="d-inline-block rounded-circle">
            <a class="ms-2 navbar-brand fw-bold" href="#">Artasov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Блог</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Плейлист
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Профиль</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <h1 class="mt-4 text-light text-center fw-bold">Посты</h1>
    <div class="posts_container d-flex gap-3 flex-wrap justify-content-center mx-auto"
         style="max-width: 800px;">
        {% for video in videos %}
                <div class="card" style="width: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <p class="card-text">{{ video.created_at }}</p>
                    </div>
                </div>
        {% endfor %}
    </div>
</main>
<footer>
    ...
</footer>
</body>
</html>