{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-">
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'Core/css/bootstrap.min.css' %}"/>
    <script defer src="{% static 'Core/js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'Core/js/theme.js' %}"></script>
    <title>{% block title %}Artasov{% endblock %}</title>
</head>
<body class="d-flex flex-column" data-bs-theme="dark" style="min-height: 100vh;">
{% include 'Core/includes/header.html' %}
<main class="my-4">
    {% block content %}{% endblock %}
</main>
{% include 'Core/includes/footer.html' %}
</body>
</html>